/node_modules

/public/hot
/public/storage
/public/js/*.js
/public/css/*.css

/public/js/*.js.map
/public/css/*.css.map

/storage/*.key
/vendor
.env
.env.testing
.phpunit.result.cache

/.idea
/database/*.sqlite

Homestead.json
Homestead.yaml

npm-debug.log
yarn-error.log